---
---

@import "{{ site.theme }}";

body {
  background-color: #16003d;
}

p {
  color: white;
  background-color: #202020;
}

a {
  color: #0090ff;
}

ul {
  background-color: #202020;
}

li {
  color: white;
}

h1 {
  color: white;
  background-color: #202020;
  border: 2px solid #606060;
}

h2 {
  color: white;
  background-color: #202020;
}

header {
  background-color: #202020;
  border: 1px solid gray;
}

.wrapper {
  background-color: #202020;
  border: 1px solid gray;
}