---
---

@import "{{ site.theme }}";

body {
  background-color: #16003d;
}

p {
  color: white;
  background-color: #0064c0;
}

h1 {
  color: LightGray;
  background-color: #0064c0;
}

h2 {
  color: LightGray;
  background-color: #0064c0;
}